{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Editer un article
{% endblock %}

{% block body %}
	<div class="titre-client bg-vert-clair mb-5">Modifier l'article
		<br>
		{{article.nom}}</div>

	{{ include('user/enfant/articles/_form.html.twig') }}
{% endblock %}
