{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bébé - Ajouter un article
{% endblock %}


{% block body %}
	<div class="titre-client bg-vert-clair mb-5">Ajouter un article
	</div>


	{{ include('user/enfant/articles/_form.html.twig') }}
{% endblock %}
