{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bébé - Ajouter un client admin
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bébé</div>
	<h1 class=" text-center p-3">Espace administrateur&nbsp;:
		<br>
		Ajouter un client
	</h1>

	{{ include('admin/user/_form.html.twig') }}

	<div class="text-center my-5">
		<a class='button-violet-clair btn' href="{{ path('app_admin_user_index') }}">Retour à la liste clients</a>
	</div>
{% endblock %}
