<h1 class="titreh1 text-center p-3">Le dressing
	<br>
	de
	<a href="{{path('app_user_enfant_index', {'id': enfant.id})}}">
		<span class="prenom color-violet-tres-fonce">{{ enfant.prenom}}</span>
	</a>
	{# <a href="{{path('app_user_enfants_index')}}">
				<i class="fa-solid fa-repeat switch-icon color-violet-fonce"></i>
			</a> #}
</h1>
