<div class="pt-2 d-flex justify-content-center align-items-center">
	<a href="{{path('app_user_dressing', {'idEnfant': enfant.id})}}" class="btn switch-icon">
		<i class="fa-solid fa-circle-left"></i>
	</a>
	<a href="{{path('app_user_enfant_index', {'id': enfant.id})}}" class="btn">
		Accueil de
		{{enfant.prenom}}
	</a>
	<a href="{{path('app_user_enfants_index'}}" class="btn">
		Accueil
	</a>
</div>
