@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

html{
  margin: 0;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../../public/images/background.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.nom-appli {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prenom{
  font-family: "Dancing Script", cursive;
}

.titreh1{
  font-size: 3.5rem;
}

//BOUTONS

//VIOLET FONCE
.button-1{
  margin-top: 1rem;
  background-color: #876FA3;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 25px;
  border-radius: 15px;
}

.button-1:hover{
  background-color: #745A94;
  color: white;
}

//VIOLET CLAIR
.button-2{
  background-color: #B3A1C4;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 15px;
}

.button-2:hover{
  background-color: #876FA3;
  color: white;
}

//BOUTON +
.button-add{
  display: block;
  text-align: center;;
  font-size: 40px;
}

//BOUTON VERT 
.button-3{
  margin-top: 1rem;
  background-color: #A2BA65;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 25px;
  border-radius: 15px;
}

.button-3:hover{
  background-color: #7E9C46;
  color: white;
}

//AUTRES

.footer{
  // position: absolute;
  // bottom: 30px;
  // left: 50%;
  // transform: translate(-50%, 0%);
  margin-top: 90px;
  margin-bottom: 2rem;
}

.form-errors{
  color: rgb(246, 72, 72);
  
  ul{
    margin: 0;
    list-style-type: none;
  }
}

.form-control{
    width: 260px;
    height: 50px;
}

.text-area{
  width: 260px;
  height: 100px;
  resize: none;
}

.custom-select{
  width: 260px;
  height: 50px;
  padding: 10px;
}

.miniature{
  height: 100px!important;
}


//PAGE LOGIN

.form{
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  input, button{
    width: 260px;
    height: 50px;
  }

  input[type='checkbox']{
    width: 30px!important;
    height: auto!important;
  }
  
  button{
    margin-top: 1rem;
  }
}



//PAGE CLIENT CHOIX ENFANT 
.choix-enfant{
  a{
    font-size: 20px;
  }
}



//FORMULAIRE AJOUT ARTICLE
.add-article-form{
  margin: 3rem 2rem 1rem;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #745A94;

  input, button{
    width: 260px;
    height: 50px;
  }

  input[type='checkbox']{
    width: 30px!important;
    height: auto!important;
  }
  
  button{
    margin-top: 1rem;
  }

  .photo-upload-box {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upload-label {
      cursor: pointer;
      position: relative;
  }

  .plus-sign {
      font-size: 48px;
      color: white;
  }

  #preview {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

