{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bébé - Editer un article admin
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bébé</div>
	<h1 class=" text-center p-3">Espace administrateur&nbsp;:
		<br>
		Modifier
		{{ article.nom }}
	</h1>

	{{ include('admin/articles/_form.html.twig') }}

	<div class="text-center my-5">
		<a class='button-violet-clair btn' href="{{ path('app_admin_articles_index') }}">Retour à la liste articles</a>
	</div>
{% endblock %}
