<form method="post" action="{{ path('app_user_tailles_delete', {'id': taille.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette taille&nbsp;?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ taille.id) }}">
	<button class="btn p-0">
		<i class="fa-solid fa-trash text-danger"></i>
	</button>
</form>
