{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Choix enfant
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bibou</div>
	<h1 class="titreh1 text-center p-3">Le dressing de</h1>
{% endblock %}
