{% extends 'base.html.twig' %}

{% block title %}Le dressing de Bibou - Créarion enfant
{% endblock %}

{% block body %}
	<div class="nom-appli">Le dressing de Bibou</div>
	<h1 class="titreh1 text-center p-3">Bienvenue</h1>
	<div>Avant de commencer, j’ajoute mon enfant</div>
{% endblock %}
